# General
.DS_Store
*.log

# Python / Django
__pycache__/
*.py[cod]
venv/
.env
db.sqlite3
**/.venv/**

# Node / React
node_modules/
build/
dist/
.env.local

# Docker
.docker_data/
postgres_data/

# Test Output
*.snap
**/playwright-report/**
**/test-results/**
**/coverage/**
**/.coverage/**
**/.coverage