.invitation-page {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  --invitation-page-bg: linear-gradient(135deg, #fdfbfb 0%, #ebedee 100%);
  background: var(--invitation-page-bg);
}
